@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
    scroll-padding: 50px;

}
section{
    @apply flex flex-col items-center justify-center p-16 max-lg:px-8 max-lg:py-16 max-sm:px-2;
    min-height: 100vh;

}
body {
    @apply bg-light-e dark:bg-dark-2
}
.project-container{
    @apply border-light-a border-2 p-4 max-sm:p-2 w-fit rounded-2xl dark:text-white shadow-light dark:shadow-dark;
    
    
}

.heading {
    @apply text-h-2 font-extrabold text-dark-5 dark:text-light-b leading-tight  tracking-tight max-xl:text-h-3 max-lg:text-h-4 max-sm:text-h-5;
    
}

.none {
    display: none;
}

.nav-center{
    left: 50%;
    transform: translateX(-50%);
    max-width: 2000px;
    z-index: 999;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-once:hover{
    animation: spin 1s 1;
}
